/* #region Header for tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-menu {
    display: none;
  }
  .menu-nav-button {
    display: none;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    padding: 0;
    font-size: 12px;
  }
  .menu li:first-child .menu-link {
    color: #404bbf;
  }
  .menu-link {
    position: relative;
    font-weight: 500;
    font-size: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-link:active {
    color: #404bbf;
  }

  .menu-link:active {
    text-decoration: underline;
  }

  .menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px; /* Position the line below the text (text padding 24px) */
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    transform: scaleX(0); /* Initially, the line is hidden */
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
  }

  /* When the link is hovered, reveal the line */
  .menu-link:hover::after {
    transform: scaleX(1); /* Show the full line */
  }
}
/* #endregion Header for tablet */

/* #region Hero Section for tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tablet.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tablet-2x.jpg);
    }
  }

  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    padding: 112px 00;
  }
  .hero-title {
    width: 496px;
  }
}
/* #endregion Hero Section for tablet */

/* #region Section Benefits for tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .benefits-header {
    text-align: left;
    margin-bottom: 8px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
}
/* #endregion Section Benefits for tablet */

/* #region Team Section for tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-section {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0;
  }

  .team-container {
    padding: 0 16px;
    width: 584px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .team-members-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .team-members-list-item {
    background-color: #ffffff;
    /* width: calc((100% - 3 * 24px) / 4); */
    width: calc((100% - 24px) / 2);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    /* height: 428px; */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* #endregion Team Section  for tablet */

/* #region Portfolio Section for tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-section {
    padding: 96px 0 96px 0;
    border-top: none;
  }
  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    row-gap: 48px;
    justify-content: center;
  }

  .products-list-item {
    width: calc((100% - 24px) / 2);
  }
}
/* #endregion Portfolio Section for tablet */

/* #region Footer Section  for tablet */
@media screen and (min-width: 768px) and (max-width: 1557px) {
  .footer {
    background-color: #2e2f42;
    padding: 96px 0;
    width: 100vw;
    /* min-width: 1158px; */
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    /* gap: 72px 0; */
    min-width: 584px;
    gap: 72px 24px;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: baseline;
  }

  .footer-left-content {
    display: block;
    max-width: 264px;
    /* margin-right: 24px; */
    margin: 0;
  }

  .footer-form-container {
    margin: 0;
  }
  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0;
  }
}
/* #endregion Footer Section for tablet */

/* #region Modal Window for tablet */
@media screen and (min-width: 768px) and (max-width: 1557px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}
/* #endregion Modal Window for tablet */
